## **A look at the Swedish Economy 1908-2001**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dat = pd.read_csv("Interestrate and inflation Sweden 1908-2001.csv")

In [3]:
dat.head()

  Period Central bank interest rate diskonto average  Inflation Price level
0   1908                                       5.877        1.5          95
1   1909                                      4.6809       -1.0          94
2   1910                                       4.624        0.0          94
3   1911                                      4.5625        3.0          97
4   1912                                      4.7969        2.1          99

In [4]:
#Rename the interest rate variable:
dat.rename(columns=lambda x: x.replace('Central bank interest rate diskonto average', 
                                       'Interest rate'), inplace=True)

In [5]:
#Replaces spaces with _ in the column names:
dat.columns = dat.columns.str.replace(" ", "_")

In [6]:
#we are missing values for each of the 4 variables:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Period         102 non-null    object
 1   Interest_rate  97 non-null     object
 2   Inflation      94 non-null     float64
 3   Price_level    94 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.5+ KB

In [7]:
#It appears that data includes from metadata and information that is 
#unimportant to this analysis. I will drop these rows in the next cell.
dat.loc[94: , :].head()

                                Period Interest_rate  Inflation Price_level
94                                 NaN           NaN        NaN         NaN
95                              Fotnot           NaN        NaN         NaN
96                                 NaN           NaN        NaN         NaN
97  Diskonto (1907-11-09 - 2002-06-28)           NaN        NaN         NaN
98                            Diskonto           NaN        NaN         NaN

In [8]:
#dropping the above rows from the dataset:
dat.drop(dat.loc[94: , :].index, inplace=True)

In [9]:
#We now that a complete data set with our values of interest from 1908-2001.
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Period         94 non-null     object
 1   Interest_rate  94 non-null     object
 2   Inflation      94 non-null     float64
 3   Price_level    94 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [10]:
#I notice that Interest_rate and price level are stored as objects rather than
#a float and int, respectively. Also, the interest rate values run to 4 
#decimal places, I will round that down to 2. So I make these alterations here:

dat.Interest_rate = round(dat.Interest_rate.astype("float64"), 2)
dat.Price_level = dat.Price_level.str.replace(",", "")
dat.Price_level = dat.Price_level.astype("float64")
dat.Period = dat.Period.astype("int64")

In [11]:
dat.head()

   Period  Interest_rate  Inflation  Price_level
0    1908           5.88        1.5         95.0
1    1909           4.68       -1.0         94.0
2    1910           4.62        0.0         94.0
3    1911           4.56        3.0         97.0
4    1912           4.80        2.1         99.0